@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}

@mixin media-mobile {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

@import "reset";
@import "variables";
@import "utilities";
@import "logo";
@import "container";
@import "main";

%label {
  font-size: font-size(font-size-xsmall);
  color: var(--clr-tertiary);
  font-weight: font-weight(font-weight-bold);
  letter-spacing: 0.1rem;
}

%font-family {
  font-family: "Space Mono", monospace;
}
